.navigasi nav-sidebar{
        background-color: red;
}
.sidebar{
        background-color: #4f4f4f;
}
.nav nav-sidebar{
    background-color: #4f4f4f;
}
.navbar-default{
        background-color:blue; 
}
.navbar-brand{
    color:blue;
}
.link{
        color:blue;
}



.form-signin {
    max-width: 350px;
    padding: 15px;
    margin: 100px auto;
    background : #FFF;

    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.form-control{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    outline: none;
}

.btn-primary{
    font-family: "Web-Segoe-UI";
    font-weight: normal;
    border-radius: 0;
    background: #1b88c5;
}
.text-header h1{
    font-size: 19px;
    font-family: "Web-Droid-Sans-Bold";
    color: #5b5b5b;
    font-weight: normal;
    padding-bottom: 5px;
    padding-top: 11px;
    margin: 0;
}
.text-header h2{
    font-size: 15px;
    font-family: "Web-Droid-Sans";
    color: #5b5b5b;
    font-weight: normal;
    margin: 0;
}